$white-color: #ffffff;
$black-color: #000000;
$primary-color: #211E2E;
$secondary-color: #433D60;
$background-gradient-start: $primary-color;
$background-gradient-end: $secondary-color;

$primary-background-color: #302C42;
$linear-gradient: linear-gradient(to right, #8176AF 50%, #C0B7E8 100%);
$radial-gradient: radial-gradient(circle at center, #3A3456 50%, #211E2E 100%);